{% extends 'CarnetsBundle:Default:index.html.twig' %}
{% block body %}
    big acceuil

    {% image '@CarnetsBundle/Resources/public/images/marker_2.png'
    output='/images/marker_2.png' %}
    <img src="{{ asset_url }}"/>
    {% endimage %}

    <div class="top-baner header2-baner">
        <div id="map-canvas" class="style-1" data-lat="39.3968485" data-lng="3.4163545" data-zoom="2"
             data-style="2"></div>
        {% if lieux is defined %}
            {% for l in lieux %}
                <div class="addresses-block">
                    <a data-lat="{{ l.lat }}" data-lng="{{ l.lng }}" data-string="{{ l.ville }}"></a>
                </div>
            {% endfor %}
        {% endif %}

    </div>

    <div class="main-wraper hotel-items">
        <div class="container">
            <div class="row">
                {% if carnets is defined %}
                    {% for carnet in carnets %}
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="hotel-item style-7">
                                <div class="radius-top">
                                    <img src="img/home_10/tour_1.jpg" alt="">
                                </div>
                                <div class="title">
                                    <h5><strong class="color-red-3">{{ carnet.destination }}</strong></h5>

                                    <div class="clearfix">
                                        <a href="{{ path('carnets_de_voy_destination',{'slug': carnet.slug}) }}"
                                           class="c-button b-40 color-grey-3 hv-o fr"><img
                                                    src="img/flag_icon_grey.png"
                                                    alt="">view
                                            more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {% javascripts
    '@CarnetsBundle/Resources/public/js/map.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}