{% if entity is defined %}
{% set carnetActuel = entity.slug %}
{% set metaTitle = entity.title %}
{% set header = entity.imageHeader %}
{% endif %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if entity is defined %}{{ metaTitle }}{% else %}Accueil{% endif %} - carnet de voyage</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/entypo.css')}}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.css')}}">
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js"></script>
    {% stylesheets
    '@CarnetsBundle/Resources/public/css/*'
    output='css/compiled/carnet.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen"/>
    {% endstylesheets %}

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

<div class="container">

    <div class="headerImage">
        {#{% image '@CarnetsBundle/Resources/public/images/header_cdv.png' %}#}
        <img src="{{ header }}" alt="header carnet de voyage"/>
        {#{% endimage %}#}
    </div>
    {% if entity is defined %}
        {% if entity.slug is defined %}
            {% block nav %}{{ render(controller('CarnetsBundle:Menu:menu', {'carnet':entity.slug})) }}{% endblock %}
        {% endif %}
    {% endif %}

    {% block body %}{% endblock %}

    <footer class="container-fluid text-center">
        <p>Carnet de voyage de Marine et Laurent pendant 22 jours en Asie</p>
        <p>Site réalisé par Laurent, globe rouleur et Marine, accompagnatrice de rêve</p>
        <p>llovem.eu 2013-{{ "now"|date("Y") }} - tout droit réservé sur les images et textes</p>
        {#<p>   Avec la supervision de web-setup.com</p>#}
    </footer>
</div>

{% javascripts '@CommunUserBundle/Resources/public/js/jquery/jquery.min.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script src="{{ asset('assets/bootstrap/bootstrap.min.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>