{% extends 'CarnetsBundle:Default:index.html.twig' %}

    {% block body %}
        <!-- INNER-BANNER -->
        <div class="inner-banner style-6">
            <div class="inner-banner style-6 background-block" style="background-color: #5f5f5f">

                <div class="vertical-align">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-8 col-md-offset-2">
                                <ul class="banner-breadcrumb color-white clearfix">
                                    <li><a class="link-blue-2" href="#">home</a> /</li>
                                    <li><span>blog</span></li>
                                </ul>
                                <h2 class="color-white">blog</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <!-- S_NEWS-ENTRY -->
            <div class="main-wraper padd-120">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                            <div class="second-title">

                            </div>
                        </div>
                    </div>
                    <div class="blog-grid row">
                        {% for entity in entities %}
                            <div class="blog-grid-entry col-mob-12 col-xs-12 col-sm-6 col-md-4">
                                <div class="s_news-entry style-2">
                                    <a href="{{ path('carnets_de_voy_blog_article',{'slug':entity.slug}) }}"><img class="s_news-img img-responsive"
                                                                    src="{{ entity.image }}" alt=""></a>
                                    <h4 class="s_news-title"><a href="{{ path('carnets_de_voy_blog_article',{'slug':entity.slug}) }}">{{ entity.title }}</a></h4>

                                    <div class="tour-info-line clearfix">
                                        <div class="tour-info fl">
                                            <i class="fa fa-calendar"></i>
                                            <span class="font-style-2 color-dark-2">{{ entity.publied|date('d-m-Y') }}</span>
                                        </div>
                                        <div class="tour-info fl">
                                            <i class="entypo entypo-user"></i>
                                            <span class="font-style-2 color-dark-2">par {{ entity.username }}</span>
                                        </div>
                                        <div class="tour-info fl">
                                            <i class="fa fa-comments-o"></i>
                                            <span class="font-style-2 color-dark-2">
                                                {% transchoice entity.commentNb %}
                                                {0} pas de commentaire|{1} un commentaire|]1,Inf[  %count% commentaires
                                                {% endtranschoice %}
                                                </span>
                                        </div>
                                    </div>
                                    <a href="{{ path('carnets_de_voy_blog_article',{'slug':entity.slug}) }}" class="c-button small bg-dr-blue-2 hv-dr-blue-2-o"><span>view more</span></a>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                    <div class="c_pagination clearfix">
                        {{ knp_pagination_render(entities) }}
                    </div>
                    {#<div class="c_pagination clearfix">#}

                        {#<a href="#" class="c-button b-40 bg-dr-blue-2 hv-dr-blue-2-o fl">prev page</a>#}
                        {#<a href="#" class="c-button b-40 bg-dr-blue-2 hv-dr-blue-2-o fr">next page</a>#}
                        {#<ul class="cp_content color-3">#}
                            {#<li class="active"><a href="#">1</a></li>#}
                            {#<li><a href="#">2</a></li>#}
                            {#<li><a href="#">3</a></li>#}
                            {#<li><a href="#">4</a></li>#}
                            {#<li><a href="#">...</a></li>#}
                            {#<li><a href="#">10</a></li>#}
                        {#</ul>#}
                    {#</div>#}
                </div>
            </div>

        {{ dump() }}
    {% endblock %}
