{% extends "CommunUserBundle:Admin:bootstrap.html.twig" %}
{% block AdminBody %}
    <body>

    <!--Smooth Scroll-->
    <div class="smooth-overflow">
        <!--Navigation-->
        {% block Navigation %}{% include'CommunUserBundle:Admin:Navigation.html.twig' %}{% endblock %}

        <!--/Navigation-->

        <!--MainWrapper-->
        {% block MainWrapper %}{% endblock %}


        <!--/MainWrapper-->
    </div>
    <!--/Smooth Scroll-->

    <!-- scroll top -->
    <div class="scroll-top-wrapper hidden-xs"><i class="fa fa-angle-up"></i></div>
    <!-- /scroll top -->

    <!--Modals-->

    <!--Power Widgets Modal-->
    <div class="modal" id="delete-widget">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <i class="fa fa-lock"></i></div>
                <div class="modal-body text-center">
                    <p>Are you sure to delete this widget?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="trigger-deletewidget-reset">
                        Cancel
                    </button>
                    <button type="button" class="btn btn-primary" id="trigger-deletewidget">Delete</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!--Sign Out Dialog Modal-->
    <div class="modal" id="signout">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <i class="fa fa-lock"></i></div>
                <div class="modal-body text-center">Are You Sure Want To Sign Out?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="yesigo">Ok</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!--Lock Screen Dialog Modal-->
    <div class="modal" id="lockscreen">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <i class="fa fa-lock"></i></div>
                <div class="modal-body text-center">Are You Sure Want To Lock Screen?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="yesilock">Ok</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!--Scripts-->
    <!--JQuery-->

    <script src="{{ asset('assets/jquery-ui/jquery-ui.min.js') }}"></script>

    <!--Bootstrap-->
    <script src="{{ asset('assets/bootstrap/bootstrap.min.js') }}"></script>


    {% javascripts
    '@CommunUserBundle/Resources/public/js/datatables/jquery.dataTables.min.js'
    '@CommunUserBundle/Resources/public/js/datatables/jquery.dataTables-bootstrap.js'
    '@CommunUserBundle/Resources/public/js/datatables/dataTables.colVis.js'
    '@CommunUserBundle/Resources/public/js/datatables/colvis.extras.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}



    {% javascripts
    '@CommunUserBundle/Resources/public/js/vendors/*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts
    '@CommunUserBundle/Resources/public/js/scripts.js'
    '@CommunToDoBundle/Resources/public/js/todo.js'
    output='js/compiled/backOffice.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}




    {% block dynamic_js %}{% endblock dynamic_js %}


    {#<script src="{{ asset('js/scripts.js') }}"></script>#}

    {#<!--/Scripts-->#}


    </body>
{% endblock %}
