<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Back Office</title>

    <script src="{{ asset('assets/modernizr/modernizr.custom.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ asset('css/entypo.css')}}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.css')}}">

    {#{% stylesheets#}
    {#'@CommunUserBundle/Resources/public/css/bootstrap.min.css'#}
    {#'@CommunUserBundle/Resources/public/css/entypo.css'#}
    {#'@CommunUserBundle/Resources/public/css/font-awesome.css'#}
     {#%}#}
    {#<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen"/>#}
    {#{% endstylesheets %}#}

    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/communuser/images/favicon.ico') }}" />

    {% stylesheets
    '@CommunUserBundle/Resources/public/css/datatables/*'%}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% stylesheets
    '@CommunUserBundle/Resources/public/css/*'
    filter='cssrewrite' output='css/compiled/backOffice.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <!--jquery-->
    {% javascripts '@CommunUserBundle/Resources/public/js/jquery/jquery.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}


</head>

{% block AdminBody %}{% endblock%}
</html>