<!--Main Menu-->
<div class="responsive-admin-menu">
    <div class="responsive-menu">ORB
        <div class="menuicon"><i class="fa fa-angle-down"></i></div>
    </div>
    <ul id="menu">

        {#back office accueil #}
        <li>
            <a class="{{ "CommunUserBundle"|menuActive(app.request.attributes.get('_controller')) }} submenu"
               href="#"
               title="Dashboard" data-id="dash-sub"><i class="entypo-briefcase"></i><span> Dashboard</span></a>
            <ul id="dash-sub">
                <li><a href="{{ path('admin_user') }}" title="Gérer les utilisateurs"><i
                                class="fa fa-sort-alpha-asc"></i><span>Gérer les utilisateurs</span></a>
                </li>
            </ul>
        </li>

        {#bundle tv#}
        <li>
            <a class="{{ "ProgrammeTvBundle"|menuActive(app.request.attributes.get('_controller')) }} submenu"
               href="#"
               title="Programme TV" data-id="tv-sub"><i class="fa fa-film"></i><span> Programme TV</span></a>
            <ul id="tv-sub">
                <li><a href="{{ path('admin_channel') }}" title="Voire les chaine disponnible"><i
                                class="fa fa-sort-alpha-asc"></i><span>Voire les chaines</span></a>
                </li>
                <li><a href="{{ path('admin_channel_order') }}" title="Ordonne les chaines"><i
                                class="entypo-list"></i><span>Ordonne les chaine</span></a>
                </li>

            </ul>
        </li>

        {#bundle TCL#}
        <li><a class="{{ "TclBundle"|menuActive(app.request.attributes.get('_controller')) }} submenu"
               href="#"
               title="tcl" data-id="tcl-sub"><i class="entypo-rocket"></i><span> TCL</span></a>
            <ul id="tcl-sub">
                <li><a href="{{ path('admin_ligne') }}" title="Power Widgets"><i class="entypo-rocket"></i><span> les rames</span></a>
                </li>
                <li><a href="{{ path('admin_tcl_feed_index') }}" title="Portlets"><i
                                class="fa fa-square"></i><span> les feeds</span></a>
                </li>
            </ul>
        </li>

        {#bundle carnet2voyage#}
        <li><a class="{{ "CarnetsBundle"|menuActive(app.request.attributes.get('_controller')) }} submenu" href="#"
               title="Carnet de voyages" data-id="carnets-sub"><i
                        class="entypo-address"></i><span> carnet de voyages</span></a>
            <ul id="carnets-sub">
                <li><a href="{{ path('admin_carnet') }}" title="Les carnets"><i
                                class="entypo-rocket"></i><span> les carnets</span></a>
                </li>
                <li><a href="{{ path('admin_lieu') }}" title="Les lieux"><i
                                class="entypo-rocket"></i><span> les lieux</span></a>
                </li>
                <li><a href="{{ path('admin_page') }}" title="Les pages"><i
                                class="entypo-rocket"></i><span> les pages</span></a>
                </li>
            </ul>
        </li>

        {#bundle Domotique / modules#}
        <li><a class="{{ "Domotique"|menuActive(app.request.attributes.get('_controller')) }} submenu" href="#"
               title="Carnet de voyages" data-id="domotique-sub"><i
                        class="entypo-network"></i><span> Domotique</span></a>
            <ul id="domotique-sub">
                <li><a href="{{ path('admin_domotique_module_logs') }}" title="Les Logs"><i
                                class="entypo-database"></i><span> les Logs</span></a>
                </li>
                <li><a href="{{ path('admin_domotique_module_infos') }}" title="Les modules"><i
                                class="fa fa-puzzle-piece"></i><span> les modules</span></a>
                </li>
                <li><a href="{{ path('admin_domotique_module_emplacement') }}" title="Les Emplacements"><i
                                class="entypo-compass"></i><span> les Emplacements</span></a>
                </li>
                <li><a href="{{ path('admin_domotique_module_sonde_type') }}" title="Les Types"><i
                                class="entypo-air"></i><span> les Types</span></a>
                </li>
                <li><a href="{{ path('admin_domotique_module_sonde_unit') }}" title="Les Unit"><i
                                class="entypo-language"></i><span> les Units</span></a>
                </li>
            </ul>
        </li>

    </ul>
</div>
<!--/MainMenu-->