<li><a class="{{ "Domotique"|menuActive(app.request.attributes.get('_controller')) }} submenu" href="#"
       title="Carnet de voyages" data-id="domotique-sub"><i
                class="entypo-network"></i><span> Domotique</span></a>
    <ul id="domotique-sub">
        <li><a href="{{ path('admin_sensor_log') }}" title="Les Logs"><i
                        class="entypo-database"></i><span> les Logs</span></a>
        </li>
        <li><a href="{{ path('admin_domotique_modules') }}" title="Les modules"><i
                        class="fa fa-puzzle-piece"></i><span> les modules</span></a>
        </li>
        <li><a href="{{ path('admin_module_emplacement') }}" title="Les Emplacements"><i
                        class="entypo-compass"></i><span> les Emplacements</span></a>
        </li>
        <li><a href="{{ path('admin_sensor_type') }}" title="Les Types"><i
                        class="entypo-air"></i><span> les Types</span></a>
        </li>
        <li><a href="{{ path('admin_sensor_unit') }}" title="Les Unit"><i
                        class="entypo-language"></i><span> les Units</span></a>
        </li>
    </ul>
</li>
