{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Module</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Created</th>
                <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Modified</th>
                <td>{{ entity.modified|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Adressmac</th>
                <td>{{ entity.adressMac }}</td>
            </tr>
            <tr>
                <th>Adressipv4</th>
                <td>{{ entity.adressIpv4 }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_domotique_modules') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_domotique_modules_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
