{% block footer %}
    <!-- FOOTER -->
    <footer class="bg-dark type-2">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-block">
                        {% image '@CarnetAppStaticPageBundle/Resources/public/images/Logo_cdv_footer.png'
                        output='images/carnet-de-voyage.png' %}
                        <img src="{{ asset_url }}" alt="logo carnet de voyage llovem"/>
                        {% endimage %}
                        <div class="f_text color-grey-7">
                            {{ footerTexte.contenu | raw }}
                        </div>
                        <div class="footer-share">
                            <a href="https://twitter.com/llovem33" target="_blank"><span
                                        class="fa fa-twitter"></span></a>
                            <a href="https://fr.pinterest.com/{{ pinterest_account }}/" target="_blank"><span
                                        class="fa fa-pinterest"></span></a>
                        </div>
                    </div>
                </div>

                {% include '@CarnetAppTwitterBundle/Resources/views/Default/index.html.twig' ignore missing %}

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-block">
                        <h6>Tags:</h6>
                        {% for t in tag %}
                            {% set ville = t.ville|split(',') %}
                            <span class="tags-b">{{ ville[0] }}</span>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-block">
                        <h6>Contact Info</h6>

                        <div class="contact-info">
                            <div class="contact-line color-grey-3"><i class="fa fa-map-marker"></i><span>Lyon</span>
                            </div>
                            <div class="contact-line color-grey-3"><i class="fa fa-envelope-o"></i><a
                                        href="mailto:contact@llovem.eu">contact@llovem.eu</a>
                            </div>
                            <div class="contact-line color-grey-3"><i class="fa fa-globe"></i><a
                                        href="http://www.llovem.eu">llovem.eu</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-link bg-black">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright">
                            <span>&copy;llovem.eu 2016 tout droit réservé sur les images et textes</span>
                        </div>
                        <ul>
                            <li>
                                <a href="{{ path('carnets_de_voy_homepage') }}">Nos voyages</a>
                            </li>
                            {% if toolOption.blogActived == true %}
                                <li>
                                    <a title="blog carnet de voyage" href="{{ path('carnets_de_voy_blog') }}">Le
                                        lounge</a>
                                </li>
                            {% endif %}
                            {% for l in links %}
                                <li><a class="link-aqua"
                                       href="{{ path('general_texte_show',{'slug':l.slug}) }}">{{ l.title }} </a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
