{% if entity is defined %}
    {% set carnetActuel = entity.slug %}
    {% set metaTitle = entity.title %}
    {% set metaDescription = entity.title %}

    {% if entity.pinterestLink is defined %}
        {% set pinterest_board = entity.pinterestLink %}
    {% endif %}

{% endif %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if entity is defined %}{{ metaTitle }}{% else %}Accueil{% endif %} - carnet de voyage</title>

    {#facebook meta#}
    <meta property="og:url" content="{{ app.request.uri }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title"
          content="{% if entity is defined %}{{ metaTitle }}{% else %}Accueil{% endif %} - carnet de voyage"/>
    {#<meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />#}

    {% stylesheets
    '@CarnetAppStaticPageBundle/Resources/public/css/entypo.css'
    output='css/compiled/entypo.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen"/>
    {% endstylesheets %}
    {% stylesheets
    '@CarnetAppStaticPageBundle/Resources/public/css/font-awesome.css'
    output='css/compiled/font-awesome.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen"/>
    {% endstylesheets %}

    {% stylesheets
    '@CarnetAppStaticPageBundle/Resources/public/css/bootstrap.min.css'
    '@CarnetAppStaticPageBundle/Resources/public/css/jquery-ui.structure.min.css'
    '@CarnetAppStaticPageBundle/Resources/public/css/jquery-ui.min.css'
    '@CarnetAppStaticPageBundle/Resources/public/css/style.css'
    '@CarnetAppStaticPageBundle/Resources/public/css/custom.css'
    output='css/compiled/carnet.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen"/>
    {% endstylesheets %}

    {% block stylesheets %}{% endblock %}

    {% image '@CarnetAppStaticPageBundle/Resources/public/images/favicon.ico'
    output='favicon.png' %}
    <link rel="icon" type="image/x-icon" href="{{ asset_url }}"/>
    {% endimage %}

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js"></script>

</head>
<body data-color="theme-7">

<div>
    {{ render(controller('CarnetAppToolBundle:Option:index')) }}
    {% block nav %}
        {% if entity is defined %}
            {% if entity.slug is defined %}
                {{ render(controller('CarnetAppCarnetBundle:Carnet:carnetMenu', {'carnet':entity.slug})) }}
            {% endif %}
        {% else %}
            {{ render(controller('CarnetAppStaticPageBundle:Menu:menu')) }}
        {% endif %}
    {% endblock %}

    {% block body %}{% endblock %}

    {% block footer %}{{ render(controller('CarnetAppStaticPageBundle:Menu:footer')) }}{% endblock %}

</div>
{% javascripts '@CommunUserBundle/Resources/public/js/jquery/jquery.min.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% javascripts '@CarnetAppStaticPageBundle/Resources/public/js/jquery-ui/jquery-ui.min.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% javascripts '@CarnetAppStaticPageBundle/Resources/public/js/bootstrap/bootstrap.min.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% block javascripts %}{% endblock %}
</body>
</html>
