<header class="color-1 menu-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="nav">
                    <a href="{{ path('carnets_de_voy_homepage') }}" class="logo">

                        {% image '@CarnetAppStaticPageBundle/Resources/public/images/Logo_cdv.png'
                        output='/images/carnet-de-voyage.png' %}
                        <img src="{{ asset_url }}"/>
                        {% endimage %}

                    </a>

                    <div class="nav-menu-icon">
                        <a href="#"><i></i></a>
                    </div>

                    <nav class="menu">
                        <ul>
                            <li class="type-1">
                                <a href="{{ path('carnets_de_voy_homepage') }}">Nos voyages</a>
                            </li>
                            <li class="type-1">
                                <a title="blog carnet de voyage" href="{{ path('carnets_de_voy_blog') }}">Le lounge</a>
                            </li>
                            {% for l in links %}
                                <li class="type-1">
                                    <a href="{{ path('general_texte_show',{'slug':l.slug}) }}">{{ l.title }}
                                        <span class="fa fa-angle-down"></span></a>
                                </li>

                            {% endfor %}
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>
</header>
