<div class="tab-pane" id="userbar-three">
    <div class="nano">
        <!--Adding Some Scroll-->
        <div class="nano-content">
            <div class="small-todos">
                <div class="input-group input-group-sm">
                    <input id="new-todo" placeholder="Add ToDo" type="text" class="form-control">
                    <span class="input-group-btn">
                    <button id="add-todo" class="btn btn-default" type="button"><i class="fa fa-plus-circle"></i>
                    </button>
                    </span></div>
                <section id="task-list">
                    <ul id="todo-list" data-deleteroute="{{ path ('admin_todo_delete') }}"
                        data-editroute="{{ path ('admin_todo_edit') }}" data-addroute="{{ path('admin_todo_new') }}">
                        {% for todo in entity %}
                            {% if todo.id is defined %}
                                <li data-id="{{ todo.id }}">
                                    <div class="view">
                                        <input class="toggle"
                                               type="checkbox" {% if todo.status == false %} checked {% endif %}>
                                        <label {% if todo.status == false %} data="done"
                                            style="text-decoration: line-through;" {% endif %}> {{ todo.value }}</label>
                                        <a class="remove"></a>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </section>
            </div>
        </div>
    </div>
</div>