{% set pageTitle = 'domobox' %}
{% extends "CommunUserBundle:Default:body.html.twig" %}
{% block content %}
    {% stylesheets
    '@DomotiquebundleFrontBundle/Resources/public/js/tinycolorpicker/tinycolorpicker.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    Hello {{ name }}!

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
    {% endif %}

    <div id="colorPicker" class="TinyColorConteneur">
        <a class="color">
            <div class="colorInner"></div>
        </a>

        <div class="track" style="background:#EFEFEF url({{ asset('text-color.png') }}) no-repeat 50% 50%; "></div>
        <ul class="dropdown">
            <li></li>
        </ul>
        <input type="hidden" class="colorInput" id="colorInput"/>
        <input type="hidden" class="moduleID" value="8"/>
        <input type="hidden" class="modAdresse" value="10.0.112.14"/>
    </div>


{% endblock %}
{% block javascripts %}

    {% javascripts
    '@DomotiquebundleFrontBundle/Resources/public/js/tinycolorpicker/jquery.tinycolorpicker.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}


    <script type="text/javascript">
        $(document).ready(function () {
            var $box = $('.TinyColorConteneur');
            var box = $box.tinycolorpicker();

            $box.bind("change", function () {

                var selectedValue = $(this).find(".colorInput").val();
                var modAdresse = $(this).find(".modAdresse").val();

                ajax(modAdresse, '/color/', selectedValue);


            });

            /*
             function Ajax
             */
            function ajax($route, $type, $data) {
                $.ajax({
                    type: "GET",
                    //dataType: 'json',
                    url: 'http://' + $route + $type + $data,
                    success: function (data, textStatus, jqXHR) {
                        console.log(data + " <-> " + textStatus + " <-> " + jqXHR);
                    }
                });
            }
        });
    </script>
{% endblock %}
