{% set pageTitle = 'domobox' %}
{% extends "CommunUserBundle:Default:body.html.twig" %}
{% block content %}
    {% stylesheets
    '@DomotiquebundleFrontBundle/Resources/public/js/tinycolorpicker/tinycolorpicker.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    Hello {{ name }}!

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
    {% endif %}

    <div id="colorPicker" class="TinyColorConteneur">
        <a class="color">
            <div class="colorInner"></div>
        </a>

        <div class="track" style="background:#EFEFEF url({{ asset('text-color.png') }}) no-repeat 50% 50%; "></div>
        <ul class="dropdown">
            <li></li>
        </ul>
        <input type="hidden" class="colorInput" id="colorInput"/>
        <input type="hidden" class="moduleID" value="8"/>
        <input type="hidden" class="modAdresse" value="10.0.112.14"/>
    </div>


{% endblock %}
{% block javascripts %}

    {% javascripts
    '@DomotiquebundleFrontBundle/Resources/public/js/tinycolorpicker/jquery.tinycolorpicker.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}


    <script type="text/javascript">
        $(document).ready(function () {
            var $box = $('.TinyColorConteneur');
            var box = $box.tinycolorpicker();

            $box.bind("change", function () {

                var selectedValue = $(this).find(".colorInput").val();
                var moduleID = $(this).find(".moduleID").val();
                console.log(selectedValue);
                var dataJson = '[' + '{"module":"' + moduleID + '"},' + '{"path":"color"},' + '{"color":"' + selectedValue + '"}' + ']';

                // ajax
                $.ajax({
                    data: 'data=' + dataJson,
                    cache: false,
                    type: 'POST',
                    url: '{{ path ('domotique_module_set_color') }}',
                    success: function (data) {
                        console.log(data)
                    }
                });
                //end ajax

            });
        });
    </script>
{% endblock %}
