{% extends "CommunUserBundle:Admin:MainWrapper.html.twig" %}
{% block title %}les utilisateurs{% endblock title %}
{% block h1_header %}utilisateurs{% endblock h1_header %}
{% block h1_header_s %}-{% endblock h1_header_s %}

{% block dynamic_body %}

    <div class="col-md-12 bootstrap-grid">

    <!-- New widget -->
    <div class="powerwidget col-grey" id="user-directory" data-widget-editbutton="false">
        <header>
            <h2>Utilisateurs
                <small>Clear</small>
            </h2>
        </header>
        <div class="inner-spacer">
            <div id="items" class="items-switcher items-view-grid">
                <div class="row">
    {#{{ dump(entities) }}#}
                </div>
                <ul>
                    {% for entity in entities %}
                    <li>
                        <div class="items-inner clearfix">
                            <a class="items-image" href="#"><img class="img-circle"
                                                                 src="{{ asset('bundles/communuser/images/user-male.png') }}"></a>
                            <h3 class="items-title">{{ entity.username }}</h3>
                            <span class="label label-default">{{ entity.roles.0 }}</span>
                            <div class="items-details">
                                {% if entity.lastLogin %}{{ entity.lastLogin|date('Y-m-d H:i:s') }}{% endif %}
                            </div>
                            <div class="control-buttons">
                                {#<a href="#" title="bloque"><i class="fa fa-ban"></i></a>#}
                                {#<a href="#" title="Delete"><i class="fa fa-times-circle"></i></a>#}
                                {#<a href="#" title="Modify"><i class="fa fa-cog"></i></a></div>#}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>

    <div class="col-md-12 bootstrap-grid">

        <div class="powerwidget" id="datatable-basic-init" data-widget-editbutton="false">
            <header>
                <h2>user
                    <small>enregistrer</small>
                </h2>
            </header>
            <div class="inner-spacer">

                {#{{ dump(entities) }}#}

                <table class="table table-striped table-hover" id="table-1">
                    <thead>
                    <tr>
                        <th>username</th>
                        <th>email</th>
                        <th>enabled</th>
                        <th>roles</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr {% if loop.index is odd %}class="default"{% endif %}>
                            <td>{{ entity.username }}</td>
                            <td>{{ entity.email }}</td>
                            <td>{{ entity.enabled }}</td>
                            <td>{% for role in entity.roles %}
                                    {{ role }}
                                {% endfor %}
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a data-id="{{ entity.id }}" class="btn btn-success btn-sm"
                                       data-text="show" role="button"
                                       href="{{ path('admin_user_edit', { 'id': entity.id }) }}">éditer</a>
                                    <a data-id="{{ entity.id }}" class="btn btn-default btn-sm"
                                       data-text="show" role="button"
                                       href="{{ path('admin_user_reset_pwd', { 'id': entity.id }) }}">reset passord</a>
                                    <a data-id="{{ entity.id }}" class="btn btn-warning btn-sm"
                                       data-text="show" role="button"
                                       href="{{ path('admin_user_enable', { 'id': entity.id }) }}">désactiver</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>


            </div>
        </div>
    </div>
{% endblock dynamic_body %}