{% extends "CommunUserBundle:Admin:MainWrapper.html.twig" %}
{% block title %}Les menu{% endblock title %}
{% block h1_header %}les pages{% endblock h1_header %}
{% block h1_header_s %}generals du site{% endblock h1_header_s %}

{% block dynamic_body %}

    <div class="col-md-12 bootstrap-grid">

        <div class="powerwidget" id="datatable-basic-init" data-widget-editbutton="false">
            <header>
                {#<h2>plup#}
                {#<small>Basic Init {{ pagination.totalCount }}</small>#}
                {#</h2>#}
            </header>
            <div class="inner-spacer">

                <ul>
                    <li>
                        <a class="btn btn-success btn-sm" role="button"
                           href="{{ path('admin_general_texte_new') }}">New</a>
                    </li>
                </ul>

                <table class="table table-striped table-hover" id="table-1">
                    <thead>
                    <tr>
                        <th>Modified</th>
                        <th>Title</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>{% if entity.modified %}{{ entity.modified|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>{{ entity.title }}</td>
                            <td class="col-md-2">
                                <div class="btn-group">
                                    <a class="btn btn-default btn-sm" role="button"
                                       href="{{ path('general_texte_show', { 'slug': entity.slug}) }}">view</a>
                                    <a class="btn btn-warning btn-sm" role="button"
                                       href="{{ path('admin_general_texte_edit', { 'id': entity.id }) }}">edit</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock dynamic_body %}
