<li><a class="{{ "CarnetApp"|menuActive(app.request.attributes.get('_controller')) }} submenu" href="#"
       title="Carnet de voyages" data-id="carnets-sub"><i
                class="entypo-address"></i><span> carnet de voyages</span></a>
    <ul id="carnets-sub" class="accordion">

        <li><a href="{{ path('admin_carnet_staticPage_texte') }}" title="Les textes generaux"><i
                        class="entypo-doc-text"></i><span> les pages static</span></a>
        </li>
        <li><a href="{{ path('admin_carnet_tool_option_edit', {'id':1}) }}" title="Les options"><i
                        class="entypo-tools"></i><span> les options</span></a>
        </li>
        <li><a href="{{ path('admin_carnet') }}" title="Les carnets"><i
                        class="entypo-map"></i><span> les carnets</span></a>
        </li>
        <li><a href="{{ path('admin_carnet_lieu') }}" title="Les lieux"><i
                        class="entypo-address"></i><span> les lieux</span></a>
        </li>
        <li><a href="{{ path('admin_carnet_page') }}" title="Les pages"><i
                        class="entypo-book-open"></i><span> les pages</span></a>
        </li>

    </ul>
</li>
