{% extends "CommunUserBundle:Admin:MainWrapper.html.twig" %}
{% block title %}flux tcl{% endblock title %}
{% block h1_header %}feed{% endblock h1_header %}
{% block h1_header_s %}TCL{% endblock h1_header_s %}

{% block dynamic_body %}

    <div class="col-md-12 bootstrap-grid">

        <div class="powerwidget" id="datatable-basic-init" data-widget-editbutton="false">
            <header>
                <h2>feed recu en xml
                    <small>remplit en cron</small>
                </h2>
            </header>
            <div class="inner-spacer">

                <table class="table table-striped table-hover" id="table-1">
                    <thead>
                    <tr>
                        <th>Added</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in pagination %}
                        <tr {% if loop.index is odd %}class="info"{% endif %}>
                            {#<td><a href="{{ path('admin_tcl_feed_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>#}
                            {#<td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                            <td>{% if entity.added %}{{ entity.added|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>{{ entity.title }}</td>
                            <td>{{ entity.description }}</td>
                            <td>
                                <div class="btn-group">
                                    <a data-id="{{ entity.id }}" class="modal-show btn btn-default btn-sm"
                                       data-text="show" role="button"
                                       href="{{ path('admin_tcl_feed_show', { 'id': entity.id }) }}">show</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock dynamic_body %}