{% set pageTitle = 'historiques modules' %}
{% set pageTitleB = 'modules' %}

{% extends "CommunUserBundle:Admin:MainWrapper.html.twig" %}
{% block title %}{{ pageTitle }}{% endblock title %}
{% block h1_header %}{{ pageTitle }}{% endblock h1_header %}
{% block h1_header_s %} {{ pageTitleB }}{% endblock h1_header_s %}

{% block dynamic_body %}

    <div class="col-md-12 bootstrap-grid">

    <div class="powerwidget cold-grey" id="datatable-filter-column" data-widget-editbutton="false" data-widget-deletebutton="false">
        <header>
            <h2>{{ pageTitle }}
                <small> logs brut</small>
            </h2>
        </header>
        <div class="inner-spacer">
            <div class="panel-body">
                {{ render_flash_alerts() }}
                <div class="btn-group">
                    {#<a class="btn btn-success btn-sm" role="button"#}
                    {#href="{{ path('admin_domotique_module_emplacement_new') }}">New</a>#}
                    <a class="btn btn-danger btn-sm" role="button"
                       href="{{ path('admin_domotique_module_logs_truncate') }}">vider le log</a>
                    <a class="btn btn-warning btn-sm" role="button"
                       href="{{ path('admin_domotique_module_emplacement_new') }}">supprimer les valeur à 0</a>
                </div>
            </div>
            <table class="display table table-striped table-hover" id="table-0">
                <thead>
                <tr>
                    <th>Temps</th>
                    <th>Sondevaleur</th>
                    <th>Sondeid</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {#{{ dump(pagination) }}#}
                {% for entity in pagination %}
                    <tr {% if loop.index is odd %}class="default"{% endif %}>
                        <td>{% if entity.temps %}{{ entity.temps|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ entity.sondeValeur }}</td>
                        <td>{{ entity.sondeId }}</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-danger btn-sm modal-delete" role="button"
                                   data-href="{{ path('admin_domotique_module_logs_delete', { 'id': entity.id }) }}"
                                   href="{{ path('admin_domotique_module_logs_delete', { 'id': entity.id }) }}">Delete</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- New widget -->
    <div class="powerwidget cold-grey" id="morrisbasic" data-widget-editbutton="false" data-widget-deletebutton="false">
        <header>
            <h2>Morris Chart
                <small>Morris basic</small>
            </h2>
        </header>
        <div class="inner-spacer">
            {#<div class="morrischart" id="morris-area">blbl</div>#}

            {#<div class="col-sm-6 text-center">#}
                {#<label class="label label-success">Area Chart</label>#}
                {#<div id="area-chart" ></div>#}
            {#</div>#}
            <div class="col-sm-10 text-center">
                <label class="label label-success">Line Chart</label>
                <div id="line-chart"></div>
            </div>
            {#<div  class="col-sm-6 text-center">#}
                {#<label class="label label-success">Bar Chart</label>#}
                {#<div id="bar-chart" ></div>#}
            {#</div>#}
            {#<div class="col-sm-6 text-center">#}
                {#<label class="label label-success">Bar stacked</label>#}
                {#<div id="stacked" ></div>#}
            {#</div>#}
            {#<div class="col-sm-6 col-sm-offset-3 text-center">#}
                {#<label class="label label-success">Pie Chart</label>#}
                {#<div id="pie-chart" ></div>#}
            {#</div>#}


        </div>
    </div>
    <!-- /New widget -->


{% endblock dynamic_body %}
        {% block dynamic_js %}
        {% javascripts
        '@CommunUserBundle/Resources/public/js/morris/morris.min.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts
        '@CommunUserBundle/Resources/public/js/raphael/raphael-min.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script>

            $(document).ready(function () {

                var jsonData = $.getJSON("{{ path('domotique_log_moyen') }}", function(json) {
                    console.log(json); // show the info in console
                    config = {
                        data: json,
                        xkey: 'heure',
                        ykeys: ['moyenne', 'maxi', 'mini'],
                        labels: ['moyenne', 'maxi', 'mini'],
                        fillOpacity: 0.6,
                        hideHover: 'auto',
                        behaveLikeLine: true,
                        resize: true,
                        pointFillColors:['#ffffff'],
                        pointStrokeColors: ['black'],
                        lineColors:['gray','red','blue']
                    };

                    config.element = 'line-chart';
                    Morris.Line(config);
                });
//                console.log(jsonData);

//                var data = [
//                            { y: '2014', a: 50, b: 90},
//                            { y: '2015', a: 65,  b: 75},
//                            { y: '2016', a: 50,  b: 50},
//                            { y: '2017', a: 75,  b: 60},
//                            { y: '2018', a: 80,  b: 65},
//                            { y: '2019', a: 90,  b: 70},
//                            { y: '2020', a: 100, b: 75},
//                            { y: '2021', a: 115, b: 75},
//                            { y: '2022', a: 120, b: 85},
//                            { y: '2023', a: 145, b: 85},
//                            { y: '2024', a: 160, b: 95}
//                        ],

//                config.element = 'area-chart';
//                Morris.Area(config);

//                config.element = 'bar-chart';
//                Morris.Bar(config);
//                config.element = 'stacked';
//                config.stacked = true;
//                Morris.Bar(config);
//                Morris.Donut({
//                    element: 'pie-chart',
//                    data: [
//                        {label: "Friends", value: 30},
//                        {label: "Allies", value: 15},
//                        {label: "Enemies", value: 45},
//                        {label: "Neutral", value: 10}
//                    ]
//                });


            });
        </script>
{% endblock dynamic_js %}