<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ pageTitle }}{% endblock %} - Front</title>

    <script src="{{ asset('assets/modernizr/modernizr.custom.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ asset('css/entypo.css')}}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.css')}}">

<body>
    {% block nav %}{% include'CommunUserBundle:Default:nav.html.twig' %}{% endblock %}
    {% block body %}{% endblock %}

    <script src="{{ asset('assets/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/jquery-ui/jquery-ui.min.js') }}"></script>

    <!--Bootstrap-->
    <script src="{{ asset('assets/bootstrap/bootstrap.min.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>

</head>
</html>