{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Infos</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Moduleref</th>
                <td>{{ entity.moduleRef }}</td>
            </tr>
            <tr>
                <th>Modulenom</th>
                <td>{{ entity.moduleNom }}</td>
            </tr>
            <tr>
                <th>Nrfid</th>
                <td>{{ entity.nrfId }}</td>
            </tr>
            <tr>
                <th>Moduletype</th>
                <td>{{ entity.moduleType }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_domotique_module_infos') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_domotique_module_infos_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
