{% extends "CommunUserBundle:Admin:MainWrapper.html.twig" %}
{% block title %}affiche une chaine{% endblock title %}
{% block dynamic_body %}
    <h1>Channel</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Idkazer</th>
                <td>{{ entity.idKazer }}</td>
            </tr>
            <tr>
                <th>Ordre</th>
                <td>{{ entity.ordre }}</td>
            </tr>
            <tr>
                <th>Added</th>
                <td>{{ entity.added|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Codetv</th>
                <td>{{ entity.codeTV }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_channel') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_channel_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
