{#                                                                           #}
{# affiche l'accueil de l'application avec la carte de tous les lieux visité #}
{# et les carnet en choix                                                    #}
{#                                                                           #}
{% extends 'CarnetAppStaticPageBundle:Default:index.html.twig' %}
{% block body %}

    {% image '@CarnetAppStaticPageBundle/Resources/public/images/marker_2.png'
    output='images/marker_2.png' %}
    <img src="{{ asset_url }}"/>
    {% endimage %}

    {# la map ne header #}
    <div class="top-baner header2-baner">
        <div id="map-canvas" class="style-1" data-lat="39.3968485" data-lng="3.4163545" data-zoom="2"
             data-style="2"></div>
        {% if lieux is defined %}
            {% for l in lieux %}
                <div class="addresses-block">
                    <a data-lat="{{ l.lat }}" data-lng="{{ l.lng }}" data-string="{{ l.ville }}"></a>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="main-wraper hotel-items">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>L'aventure à deux, autour du monde, à pied ou à roulette... C'est le récit de nos carnets de
                        voyage ! Découvrez nos itinéraires, adresses, anecdotes et expériences de <strong>Globe
                            Riders</strong>. Qu'ils
                        puissent vous inspirer et vous aider à planifier vos prochaines aventures !</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="second-title">
                        <h2>compilation vidéo</h2>
                    </div>
                </div>
            </div>

            <div class="js-video [vimeo, widescreen]">
                <iframe src="https://player.vimeo.com/video/156976520?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <p><a href="https://vimeo.com/156976520">Marine et Laurent voyage</a> from <a
                            href="https://vimeo.com/user49426123">llovem</a> on <a href="https://vimeo.com">Vimeo</a>.
                </p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="second-title">
                        <h2>Nos carnets ({{ carnets|length }}) </h2>
                    </div>
                </div>
            </div>
            {% if carnets is defined %}
                {% for row in carnets|batch(3) %}
                    <div class="row">
                        {% for carnet in row %}
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="hotel-item style-6">
                                    <div class="radius-top">
                                        {% if carnet.imageAccueil %}
                                            <a href="{{ path('carnets_de_voy_destination',{'slug': carnet.slug}) }}">
                                                <img src="{{ carnet.imageAccueil | imagine_filter('thumb_accueil_lieux') }}"
                                                     alt="Carnet du voyage : {{ carnet.title }}"></a>
                                        {% endif %}
                                    </div>
                                    <div class="title">
                                        <h5><a href="{{ path('carnets_de_voy_destination',{'slug': carnet.slug}) }}"
                                                    ><strong class="color-red-3">{{ carnet.title }}</strong></a></h5>
                                        <h4>{{ carnet.destination }}</h4>

                                        <div style="height: 83px;">
                                            <p>{{ carnet.description }}</p>
                                        </div>
                                        <div class="clearfix">
                                            <a href="{{ path('carnets_de_voy_destination',{'slug': carnet.slug}) }}"
                                               class="c-button b-40 color-grey-3 hv-o fr">{% image '@CarnetAppStaticPageBundle/Resources/public/images/flag_icon_grey.png'
                                                output='images/flag_icon_grey.png' %}
                                                <img alt="Afficher tout le carnet de {{ carnet.title }}"
                                                     src="{{ asset_url }}"/>
                                                {% endimage %}
                                                découvrir</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endif %}

        </div>
    </div>

{% endblock %}
    {% block javascripts %}
        {% javascripts
        '@CarnetAppStaticPageBundle/Resources/public/js/map.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
