{% extends '::base.html.twig' %}

{% block body -%}
    <h1>BlogComment</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Authorname</th>
                <td>{{ entity.authorName }}</td>
            </tr>
            <tr>
                <th>Authormail</th>
                <td>{{ entity.authorMail }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ entity.contenu }}</td>
            </tr>
            <tr>
                <th>Publied</th>
                <td>{{ entity.publied }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_carnet_blog_comment') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_carnet_blog_comment_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
