{% extends "CommunUserBundle:Admin:MainWrapper.html.twig" %}
{% block title %}{% endblock title %}
{% block h1_header %}{% endblock h1_header %}
{% block h1_header_s %}-{% endblock h1_header_s %}

{% block dynamic_body %}

    <div class="col-md-12 bootstrap-grid">

        <div class="powerwidget" id="datatable-basic-init" data-widget-editbutton="false">
            <header>
                <h2>tableaux</h2>
                {#<h2>plup#}
                {#<small>blbl</small>#}
                {#</h2>#}
            </header>
            <div class="inner-spacer">

                <ul class="btn-group">
                    <li>
                        <a class="btn btn-success btn-sm" role="button"
                           href="{{ path('admin_domotique_module_sonde_type_new') }}">New</a>
                    </li>
                </ul>
                <table class="table table-striped table-hover" id="table-1">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in pagination %}
                        <tr>
                            <td class="col-md-10">{{ entity.nom }}</td>
                            <td class="col-md-2">
                                <div class="btn-group">
                                    <a class="btn btn-warning btn-sm" role="button"
                                       href="{{ path('admin_domotique_module_sonde_type_edit', { 'id': entity.id }) }}">edit</a>
                                    <a class="btn btn-danger btn-sm confirm-delete" role="button"
                                       data-href="{{ path('admin_domotique_module_sonde_type_delete', { 'id': entity.id }) }}"
                                       href="{{ path('admin_domotique_module_sonde_type_delete', { 'id': entity.id }) }}">Delete</a>

                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>

{% endblock dynamic_body %}
